<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wetio.dao.MusicDao">
    <resultMap id="BaseMap" type="com.wetio.entity.Music">
        <result column="top" property="top" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="singer" property="singer" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getMusic" resultMap="BaseMap">
        SELECT
        *
        FROM music
        ORDER BY top ASC;
    </select>

    <select id="getMusicByName" resultMap="BaseMap" parameterType="String">
        SELECT
        *
        FROM music
        WHERE name=#{name};
    </select>

    <delete id="deleteMusicByName">
        DELETE
        FROM music
        WHERE name=#{name};
    </delete>

    <delete id="deleteAllMusic">
        DELETE
        FROM music;
    </delete>

    <insert id="insertMusic" parameterType="com.wetio.entity.Music">
        INSERT INTO music
        (top, name, singer, url)
        VALUES
        (#{top}, #{name}, #{singer}, #{url});
    </insert>

</mapper>