<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wetio.dao.NovelDao">

    <resultMap id="BaseMap" type="com.wetio.entity.Novel">
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="latestchapter" property="latestChapter" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="begintime" property="beginTime" jdbcType="TIMESTAMP" />
        <result column="isfinished" property="isFinished" jdbcType="INTEGER" />
    </resultMap>

    <select id="getNovel" resultMap="BaseMap">
        SELECT
        *
        FROM novel
        ORDER BY begintime DESC ;
    </select>

    <select id="getUnfinishedNovel" resultMap="BaseMap">
        SELECT
        *
        FROM novel
        WHERE isfinished=0
        ORDER BY begintime DESC ;
    </select>

    <select id="getNovelByName" resultMap="BaseMap" parameterType="String">
        SELECT
        *
        FROM novel
        WHERE name=#{name};
    </select>

    <update id="updateLatestChapterByName" parameterType="String">
        UPDATE novel
        SET latestchapter=#{latestChapter}
        WHERE name=#{name}
    </update>

    <delete id="deleteNovelByName">
        DELETE
        FROM novel
        WHERE name=#{name};
    </delete>

    <delete id="deleteAllNovel">
        DELETE
        FROM novel;
    </delete>

    <insert id="insertNovel" parameterType="com.wetio.entity.Novel">
        INSERT INTO novel
        (name, author, latestchapter, url, begintime, isfinished)
        VALUES
        (#{name}, #{author}, #{latestChapter}, #{url}, #{beginTime}, #{isFinished});
    </insert>

</mapper>